
* {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
}
body{
        background-color: #faf7f2;
       }

main{
        height: calc(100vh - 70px);
        overflow-y: scroll;
}
/* .container{
         
} */
/* #header{
            border-bottom:none;
            outline: none;
            box-shadow: -1px -1px 2px rgb(0 0 0 / 10%), 1px 1px 2px rgb(0 0 0 / 10%);   
        } */
header{
            display: flex;
            align-items: center;
            padding: 0px 50px;
            background-color: white;
            justify-content: space-between;
            flex-wrap: wrap;
            border-bottom:none;
            outline: none;
            box-shadow: -1px -1px 2px rgb(0 0 0 / 10%), 1px 1px 2px rgb(0 0 0 / 10%);   
          }
nav{
            display: flex;
            align-items: center;
            padding: 0px;  
            background-color: white;
            justify-content:space-between;
           
        }

nav ul li {
            margin: 10px 20px;
            display: inline-block;
            list-style: none;
        }
 nav ul li a {
            text-decoration: none;
            font-family: sans-serif;
            font-size: 18px;
            position: relative;
        }
nav .fas {
            display: none;
        }
nav ul li a::after {
            content: " ";
            width: 0;
            height: 3px;
            background-color: #ff912d;
            position: absolute;
            left: 0px;
            bottom: -6px;
            transition: 0.5s;
}
nav ul li a:hover::after {
            width: 100%;
}

.scrollx{
    background:black ;
}
.cards{
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color: black;
            justify-content: center;
            height: 300px;
            overflow-x:scroll;
            
 }
.imgup{
            margin: 20px;
            flex-wrap: wrap;
            transition: 0.5s;
            overflow-y: scroll;
}
.imgup:hover{
            transform: scale(1.1);
        }

.filters {
            margin: 15px 8%;
            display:grid;
            column-gap:20px;
            grid-template-columns: auto auto auto ;
            justify-content: space-around;
}

.filters li {
            list-style: none;
                 
}
/* .searchtile {
          grid-column: 2/3;
} */
.filters li input {
            padding: 0 5px;
            width: 100%;
            height: 100%;
            border: white;
            outline: white;
            box-shadow: -1px -1px 2px rgb(0 0 0 / 10%), 1px 1px 2px rgb(0 0 0 / 10%);   
}
select {
            width: 200px;
            height: 30px;
            flex-basis: 20%;
            border: none;
            outline:none;
            box-shadow: -1px -1px 2px 
            rgb(0 0 0 / 10%), 1px 1px 2px rgb(0 0 0 / 10%);   
}
.card-main {
            margin: 10px 8%;
            margin-top: 0px;
            display: flex;
            flex-wrap: wrap;
}
.cardview {
            height: 300px;
            width: 300px;
            border:none;
            outline: none;
            box-shadow: -1px -1px 2px rgb(0 0 0 / 10%), 1px 1px 2px rgb(0 0 0 / 10%);   
            margin:15px auto;
            transition: background 0.5s,transform 0.5s ;
}

.cardview:hover{
    background: #ff912d;
    transform: translateY(-10px);
}
.card-img{
            height: 150px; 
            width: 100%;    
}

.cardview {
            background-color:white;
}
      
 #footer { 
            display: flex;
            font-family: sans-serif;
            color: white;
}
.foot-1{
            padding: 10px 10%;
            display: flex; 
            background-color: black;    
}
.f1 {
            width: 100%;
            display: flex;
            flex-direction:column;
}
.f1 h1{
            padding: 50px; 
}
.f1 ul{
            padding: 0px 20px;        
}
.f1 ul li {
            list-style: none;
            margin:10px;
            padding-left: 20px;
            cursor: pointer;
}
.foot-2 {
            display: flex;
            background-color: #0B0B0B;
            justify-content: space-between;
}
 .foot-2 ul li {
            padding: 20px;
            display: inline-block;
}
.foot-2 li a {
            color: white;
}

@media only screen and (max-width: 600px) {
    .container{
        padding: 0px;
    }
    header{
        background: #ff912d;
    }
    nav .fas {
        display: block;
        font-size: 25px;
        position: absolute;
        top: 20px;
        right: 30px;
        align-items: center;
    }
    #icon-2:hover{
        color: #ff912d;
    }
    #icon-1:hover
    {
        color: #fdc38d;
    }
    nav {
       padding: 5px;
  background: #ff912d;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: start;
    }
    nav ul {
        background: #ff912d;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: -360px;
        width: 100%;
        height: 300px;
        padding-top: 20px;
        transition: 0.5s;
        border-radius: 5px;
        /* margin-top: 5px; */
    }
    nav ul li {
        display: block;
        margin: 20px 25px;
    }
    nav ul:hover{
        background: rgb(244, 206, 135);
    }
    nav ul li a {
        align-items: center;
        justify-content: center;
    }
    
    .logo
    {
        left: 5px;
        position: absolute;
    }
/* 
    .filters{
        display: grid;
        grid-template-rows: auto;
        grid-row: 2/3;
    } */

}

       